@model IEnumerable<ECommerce_Application.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@await Component.InvokeAsync("TopPosts", 100);


<head>
    <title>Home</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" type="text/css" />
</head>



<body>

    <table class="table table-hover">
        <caption>List of Super Pets</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Breed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SuperPower)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Age
                    </td>
                    <td>
                        @item.Breed
                    </td>
                    <td>
                        @item.Color
                    </td>
                    <td>
                        @item.SuperPower
                    </td>

                    <td>
                        $@item.Price
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <img src="@item.Image" alt="image" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>