@model List<ECommerce_Application.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<head>
    <title>WELCOME TO OUR PRODUCTS WEBSITE</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" type="text/css" />
</head>
<body>
    <h1>WELCOME TO OUR PRODUCTS WEBSITE</h1>
    <a href="Products">PRODUCTS</a>
    @foreach(var item in Model)
    {
    <section>
        <h2>Name: @item.Name</h2>
        <ol>
            <li>
                <h3>Age: @item.Age</h3>
            </li>
            <li>
                <h3>Breed: @item.Breed</h3>
            </li>
            <li>
                <h3>Color: @item.Color</h3>
            </li>
            <li>
                <h3>Super Powers: @item.SuperPower</h3>
            </li>
        </ol>
        <h3>Price: $@item.Price</h3>
        <p>Description: @item.Description</p>
    </section>

    }
</body>
