@model IEnumerable<ECommerce_Application.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<head>
    <title>Home</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" type="text/css" />
</head>



<body style='width: 1600px; margin: 0 auto;'>

    <section style='width: 1500px; display: flex; flex-flow: row wrap; margin: 0 auto;'>

            @foreach (var item in Model)
            {
                string image = "";
                @if(@item.Image == null)
                {
                    image = "https://i.ytimg.com/vi/jzUlYLC1DVA/maxresdefault.jpg";
                }
                 @if(@item.Image != null)
                 {
                     image = @item.Image;
                 }
    <section style='width: 150px; margin-bottom: 20px; margin-right: 40px;'>
        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id"><img style='width: 150px; height: 125px;' src="@image" alt="image" /></a><br />
        <h1> @item.Name</h1>
        <h3>@item.Price</h3>

    </section>
            }
    </section>

</body>
