@model IEnumerable<ECommerce_Application.Models.DTO.CerealDTO>

<h2>Cereal!</h2>

<form asp-controller="Products" asp-action="Index">
    <p>
        Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                </table>

                @foreach (var item in Model)
                {
                    <h3>@item.Name</h3>
                    <p>@item.Manufacturer</p>
                    <p>@item.Calories</p>
                    <p>@item.Protein</p>
                    <p>@item.Fat</p>
                    <p>@item.Sodium</p>
                    <p>@item.Fiber</p>
                    <p>@item.Carbohydrates</p>
                    <p>@item.Sugar</p>
                    <p>@item.Potassium</p>
                    <p>@item.Vitamins</p>
                    <p>@item.Shelf</p>
                    <p>@item.Weight</p>
                    <p>@item.Cups</p>
                    <p>@item.Rating</p>

                }
